.quotes__item {
  width: 243px;
  min-height: 100px;
  padding: 115px 0 143px;
}

.quotes__item:first-child {
  padding-left: 70px;
}

.quotes__item:last-child {
  padding-right: 70px;
}

@media screen and (max-width: 1070px) {
  .quotes__item:first-child {
    padding-left: 0;
  }

  .quotes__item:last-child {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .quotes__item {
    padding: 60px 16px 0 0;
  }

  .quotes__item:first-child {
    padding-left: 0;
  }

  .quotes__item:last-child {
    padding-right: 16px;
  }
}

@media screen and (max-width: 562px) {
  .quotes__item {
    padding-top: 25px;
  }

  .quotes__item:first-child {
    padding-top: 60px;
  }
}