.header__petition {
  flex: 1;
  text-align: right;
  text-decoration: none;
  color: #000;
  margin: 0;
}

@media screen and (max-width: 530px) {
  .header__petition {
    line-height: 1;
    text-align: left;
    margin-top: 20px;
    font-size: 24px;
    color: lightgray;
  }
}