.header {
  display: flex;
  flex-direction: row;
  margin: 50px 70px;
  font-size: 13px;
  font-weight: 900;
}

@media screen and (max-width: 1120px) {
  .header {
    margin: 50px 35px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 50px 16px;
  }
}

@media screen and (max-width: 530px) {
  .header {
    flex-direction: column;
    margin-top: 20px;
    margin-left: 16px;
    margin-bottom: 40px;
  }
}