@font-face {
  font-family: 'Rostelecom';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("rst_basis_bold.otf") format("opentype");
}

@font-face {
  font-family: 'Rostelecom';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("rst_basis_medium.otf") format("opentype");
}

@font-face {
  font-family: 'FiraMono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("FiraMono-Regular.ttf") format("truetype");
}