.where__button {
  width: 185px;
  height: 32px;
  border: none;
  color: white;
  background-color: black;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  cursor: pointer;
  transition: .2s linear;
}

.where__button:hover {
  color: black;
  background-color: #FECDA7;
  opacity: .8;
}