.intro__image {
  background-image: url('../../../resources/images/intro-image.jpeg');
  background-size: cover;
  position: absolute;
  right: 87px;
  width: 355px;
  height: 355px;
  z-index: -1;
}

@media screen and (max-width: 1120px) {
  .intro__image {
    right: 0;
  }
}

@media screen and (max-width: 767px) {
  .intro__image {
    background-position: center;
    width: 100%;
  }
}