.header__list {
  display: flex;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 530px) {
  .header__list {
    display: none;
    flex-direction: column;
    margin-top: 20px;
  }
}