.video__button {
  /* z-index: 5; */
  width: 100px;
  height: 100px;
  border: none;
  background-image: url(../../../resources/images/play-button.svg);
  background-color: inherit;
  outline: none;
  opacity: .5;
  transition: .3s linear;
}