.intro__title {
  max-width: 570px;
  font-size: 35px;
}

@media screen and (max-width: 1120px) {
  .intro__title {
    width: 356px;
  }
}

@media screen and (max-width: 767px) {
  .intro__title {
    width: 262px;
    color: #fff;
    text-shadow: 1px 1px 2px black;
  }
}